#card{
    border: none;
    border-radius: 8px;
    width: 100%;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background: lightgray;
    
}

img{
    width: 130px;
    height: 130px;
    margin-top: 0%;
    border-radius: 8px;
}

#ver{
    width: 50px;
    height: 50px;
}

#header {
    background: #000080;
    color: white;
    width: 100%;
}

.card-header{
    
    color: #008080;
    text-align: center;
    padding-bottom: 5px;
}

