.card{
    background: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    margin-top: 15%;
}


.card input{
    color: gray;
}

#link{
    color: black;
}

#link:hover{
    background-color: white;
    color: mediumblue;
}





